.product{
    display: flex ;
    border-bottom: 1px solid lightgrey;
    margin: 5px;
    padding-bottom: 5px ;
}
.product-name{
    color: blue;
    font-weight: 200px;
}
.main-button{

    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}